:root {
  --color-flamingo: #f2cdcd;
  --color-mauve: #ddb6f2;
  --color-pink: #f5c2e7;
  --color-maroon: #e8a2af;
  --color-red: #f28fad;
  --color-peach: #f8bd96;
  --color-yellow: #fae3b0;
  --color-green: #abe9b3;
  --color-teal: #b5e8e0;
  --color-blue: #96cdfb;
  --color-sky: #89dceb;
  --color-black0: #161320;
  --color-black1: #1a1826;
}

* {
  box-sizing: border-box;
  cursor: none;
}

html {
  /* background-color: var(--color-black1); */
  background-color: #000000;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, monospace;
}

input {
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif !important;
}
