@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-flamingo: #f2cdcd;
  --color-mauve: #ddb6f2;
  --color-pink: #f5c2e7;
  --color-maroon: #e8a2af;
  --color-red: #f28fad;
  --color-peach: #f8bd96;
  --color-yellow: #fae3b0;
  --color-green: #abe9b3;
  --color-teal: #b5e8e0;
  --color-blue: #96cdfb;
  --color-sky: #89dceb;
  --color-black0: #161320;
  --color-black1: #1a1826;
  --color-black2: #1e1e2e;
  --color-black3: #302d41;
  --color-black4: #575268;
  --color-grey0: #6e6c7e; 
  --color-grey1: #988ba2; 
  --color-grey2: #c3bac6; 
  --color-white: #d9e0ee;
  --color-lavender: #c9cbff;
  --color-rosewater: #f5e0dc;
}

* {
  box-sizing: border-box;
  cursor: none;
}

html {
  background-color: var(--color-black1);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-weight: bold;
  font-size: 13px;
  font-family: 'Inter', sans-serif !important;
}

button {
  background: var(--color-black3);
  outline: none;
  border: none;
  padding: 10px 14px;
  user-select: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--color-white);
  pointer-events: auto;
}

button:hover {
  filter: brightness(120%);
}
